# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design Trident 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Leadscrew Rotation Distance          [stepper_z], [stepper_z1], [stepper_z2]
## Z Endstop Switch location            [safe_z_home] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## PID tune                             [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_440037000B50533850353920-if00
restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 500 
max_accel: 20000           #Max 4000
#max_accel_to_decel: 20000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 10

[exclude_object]
[respond]
[include mainsail.cfg]


[include EBBCan.cfg]
[include shell_command.cfg]
[include macros/calibration/*.cfg]
[include adxl.cfg]
[include macros/gcode_button.cfg]
# [include macros/klicky/klicky-probe.cfg]
# [include macros/KAMP/Adaptive_Mesh.cfg]
[include macros/KAMP/Voron_Purge.cfg]
[include macros/*.cfg]
#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 200 for 1.8 degree stepper
endstop_pin: EBBCan:PC13
position_min: 0


##--------------------------------------------------------------------

position_endstop: 300
position_max: 300


##--------------------------------------------------------------------
homing_speed: 60   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##    Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_x]
cs_pin: PC4
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
interpolate: false
run_current: 1.2
sense_resistor: 0.075
stealthchop_threshold: 0

[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 200 for 1.8 degree stepper
endstop_pin: PG14
position_min: 0
##--------------------------------------------------------------------
position_endstop: 307
position_max: 307


##--------------------------------------------------------------------
homing_speed: 60  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_y]
cs_pin: PD11
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
interpolate: false
run_current: 1.2
sense_resistor: 0.075
stealthchop_threshold: 0


#####################################################################
#   Z Stepper Settings
#####################################################################

##  Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4    
microsteps: 16
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
homing_retract_dist: 0 # beacon needs this to be set to 0
# endstop_pin: ^PG15
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -1.160
## All builds use same Max Z
position_max: 235
position_min: -2.5
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC7
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Center
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 16

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PF2
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Front Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 16

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PE4
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

## SEE EBBCan.cfg


# [extruder]
# step_pin: sb2040:gpio9
# dir_pin: !sb2040:gpio10
# enable_pin: !sb2040:gpio7
# rotation_distance: 22.3969156
# gear_ratio: 50:10
# microsteps: 32
# full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
# nozzle_diameter: 0.400
# filament_diameter: 1.75
# min_temp: -50
# max_temp: 350
# # pressure_advance: 0.022
# pressure_advance: 0.04
# pressure_advance_smooth_time: 0.020
# heater_pin: sb2040:gpio6
# sensor_pin: sb2040:gpio27
# max_extrude_only_distance: 500 
# #max_extrude_only_velocity: 120


# sensor_type: PT1000
# pullup_resistor: 1000
# #sensor_type: ATC Semitec 104NT-4-R025H42G

# [tmc2209 extruder]
# uart_pin: sb2040:gpio8
# run_current: 0.600
# stealthchop_threshold: 999999

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  SSR Pin - HE1
##  Thermistor - TB
heater_pin: PA1
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.74
pwm_cycle_time: 0.01
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#   Probe
#####################################################################

# [probe]
# ##  Inductive Probe
# ##  This probe is not used for Z height, only Quad Gantry Leveling

# # Select the probe port by type:
# ## For the PROBE port. Will not work with Diode. May need pull-up resistor from signal to 24V.
# #pin: ~!PB7
# ## For the DIAG_7 port. NEEDS BAT85 DIODE! Change to !PG15 if probe is NO.
# #pin: PG15
# ## For Octopus Pro Probe port; NPN and PNP proximity switch types can be set by jumper
# #pin: ~!PC5

# #--------------------------------------------------------------------
# pin: PG13
# x_offset: 0
# y_offset: 27
# z_offset: 6.42
# speed: 5
# samples: 3
# sample_retract_dist: 2
# lift_speed: 5.0
# samples_result: median
# samples_tolerance: 0.01
# samples_tolerance_retries: 5
# #x_offset: 0
# #y_offset: 25.0
# #z_offset: 0
# #speed: 10.0
# #samples: 3
# #samples_result: median
# #sample_retract_dist: 3.0
# #samples_tolerance: 0.006
# #samples_tolerance_retries: 3

######

#####################################################################
#   Fan Control
#####################################################################

#[fan]
##  Print Cooling Fan - FAN0
#pin: PA8
#kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
#off_below: 0.10

#[heater_fan hotend_fan]
##  Hotend Fan - FAN1
#pin: PE5
#max_power: 1.0
#kick_start_time: 0.5
#heater: extruder
#heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[controller_fan controller_fan]
##  Controller fan - FAN2
pin: PA8
kick_start_time: 0.5
heater: heater_bed
fan_speed: 1.0
shutdown_speed: 0.0
idle_timeout: 30

[fan_generic nevermore]
pin: PD12
#pwm: true
cycle_time: 0.010
#value: 0
#shutdown_value: 0

[controller_fan stepper_fan1]
##  Controller fan - FAN2
pin: PD13
kick_start_time: 0.5
stepper: stepper_x, stepper_y
heater: heater_bed, extruder
fan_speed: 1.0
shutdown_speed: 0.0
idle_timeout: 30

# [controller_fan stepper_fan2]
# ##  Controller fan - FAN2
# pin: PD14
# kick_start_time: 0.5
# stepper: stepper_x, stepper_y
# heater: heater_bed, extruder
# fan_speed: 0.8
# shutdown_speed: 0.0
# idle_timeout: 30

[controller_fan stepper_fan2]
#  Controller fan - FAN2
pin: PD14
kick_start_time: 0.5
stepper: stepper_x, stepper_y
heater: heater_bed, extruder
fan_speed: 1.0
shutdown_speed: 0.0
idle_timeout: 30


#[heater_fan exhaust_fan]
##  Exhaust fan - FAN3
#pin: PD13
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
#   Additional Sensors
#####################################################################

#[thermistor Trianglelab-NTC100K-B3950]
#temperature1: 25
#resistance1: 103180
#temperature2: 150
#resistance2: 1366.2
#temperature3: 250
#resistance3: 168.6

[temperature_sensor chamber]
## Chamber Temperature - T1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF5
min_temp: 0
max_temp: 100
gcode_id: chamber_th

[temperature_sensor raspberry_pi]
## Pi Temps
sensor_type: temperature_host
max_temp: 100

[temperature_sensor mcu_temp]
## Octopus Temps
sensor_type: temperature_mcu
max_temp: 100

[temperature_sensor upper_bed]
# Upper glass Bed thermistor
sensor_type: Generic 3950
sensor_pin: PF6
min_temp: 0
max_temp: 140


#[filament_motion_sensor filament_sensor]
#detection_length: 10
#extruder: extruder
#switch_pin: ^PG13
#pause_on_runout: True
#insert_gcode:
#    M117 Insert Detected
#runout_gcode:
#    M117 Runout Detected

# [filament_switch_sensor filament_sensor]
# switch_pin: ^sb2040:gpio28
# pause_on_runout: True
# insert_gcode:
#     M117 Insert Detected
# runout_gcode:
#     M117 Runout Detected
#     #LCDRGB R=1 G=0 B=0  # Turn LCD red
#     #BEEP I=12
#####################################################################
#   LED Control
#####################################################################

[output_pin caselight]
## Chamber Lighting - CNC_FAN5
pin: PB10
pwm: true
hardware_pwm: true
shutdown_value: 0
value:0
# scale: 100
cycle_time: 0.01

#####################################################################
#   Beacon
#####################################################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_74D13E994E4B333448202020FF0A401D-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 21.5 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2
#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
home_xy_position: 150, 150 # update for your machine
z_hop: 3
speed: 100

[z_tilt]
##  Use Z_TILT_ADJUST to level the bed .
##  z_positions: Location of toolhead


## Uncomment below for 300mm build
z_positions:
   -50, 18
   150, 348
   350, 18
points:
   30, 5
   150, 245
   270, 5

##--------------------------------------------------------------------

speed: 200
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.0075

########################################
# BED MESH
########################################
[bed_mesh]
speed: 350

mesh_min: 40, 40
mesh_max: 260,260
##--------------------------------------------------------------------
fade_start: 0.6
fade_end: 10.0
probe_count: 15,15
algorithm: bicubic

########################################
# ADXL345
########################################

## SEE CORRESPONDING TOOLHEAD BOARD/ACCELEROMETER ##

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    150, 150, 20  # an example

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>


#############################
#BUTTONS
##############################
[gcode_button tophatoff]
pin: ^PG12
press_gcode: LEDOFF


##-----------------------------------------------------------------------

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 38.532
#*# pid_ki = 1.502
#*# pid_kd = 247.089
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.961
#*# pid_ki = 2.996
#*# pid_kd = 60.663
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 84.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 55.4
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.032597, 0.021619, 0.005019, -0.000344, 0.004966, 0.002639, -0.003747, 0.002087, 0.011401, 0.009315, 0.010579, 0.019622, 0.025407, 0.030139, 0.035326
#*# 	  0.030284, 0.017978, 0.003720, -0.005347, -0.001732, -0.003358, -0.011084, -0.003552, 0.009887, 0.009214, 0.007689, 0.019215, 0.025915, 0.023742, 0.026543
#*# 	  0.025885, 0.018573, 0.000129, -0.010532, -0.006971, -0.004297, -0.012047, -0.003830, 0.015265, 0.015962, 0.011268, 0.015330, 0.023841, 0.014714, 0.013657
#*# 	  0.025384, 0.018690, 0.002117, -0.006147, -0.000748, -0.001245, -0.005867, 0.003258, 0.021822, 0.023681, 0.014321, 0.021129, 0.023988, 0.012022, 0.006984
#*# 	  0.017326, 0.009228, -0.003857, -0.011088, -0.004418, -0.000187, -0.002733, 0.006150, 0.025247, 0.027967, 0.019709, 0.022335, 0.024204, 0.011996, 0.010240
#*# 	  0.013381, 0.005379, -0.005769, -0.009262, -0.001943, 0.002504, 0.003405, 0.013505, 0.032766, 0.039242, 0.029430, 0.025971, 0.024644, 0.012048, 0.014744
#*# 	  0.006073, -0.001937, -0.011252, -0.011562, -0.003673, 0.005821, 0.007380, 0.014544, 0.040057, 0.054576, 0.039004, 0.027283, 0.023441, 0.014204, 0.021125
#*# 	  -0.003460, -0.010448, -0.015058, -0.013916, -0.002557, 0.007844, 0.007419, 0.011809, 0.028382, 0.039470, 0.029309, 0.021751, 0.022281, 0.017642, 0.021897
#*# 	  -0.008132, -0.013868, -0.015011, -0.015459, -0.006336, 0.003371, 0.002494, 0.005665, 0.017850, 0.021434, 0.015127, 0.017132, 0.020855, 0.014059, 0.017448
#*# 	  -0.011335, -0.013856, -0.014944, -0.015445, -0.004507, 0.001367, -0.004208, 0.000264, 0.012025, 0.012276, 0.009470, 0.015927, 0.020846, 0.014440, 0.015977
#*# 	  -0.015340, -0.017234, -0.019360, -0.019784, -0.010042, -0.005307, -0.009272, -0.004070, 0.006803, 0.010350, 0.009769, 0.020470, 0.026609, 0.015282, 0.012590
#*# 	  -0.013907, -0.013505, -0.016026, -0.013669, -0.003086, 0.001223, 0.001222, 0.009435, 0.020955, 0.021992, 0.020732, 0.033713, 0.035857, 0.025935, 0.026450
#*# 	  -0.023421, -0.026100, -0.030035, -0.027330, -0.009895, -0.002982, 0.000921, 0.015706, 0.026558, 0.024955, 0.020352, 0.029060, 0.034450, 0.026122, 0.028258
#*# 	  -0.029510, -0.031304, -0.031934, -0.023543, -0.001886, 0.007081, 0.010871, 0.026113, 0.037140, 0.036015, 0.032417, 0.041960, 0.046763, 0.038761, 0.040663
#*# 	  -0.013373, -0.011583, -0.010469, -0.000837, 0.019506, 0.028290, 0.028661, 0.039786, 0.058202, 0.059715, 0.059030, 0.070260, 0.070589, 0.066346, 0.067415
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 260.0
#*# min_y = 40.0
#*# max_y = 260.0
#*#
#*# [beacon model default]
#*# model_coef = 1.475983763321968,
#*# 	  1.7935932222009598,
#*# 	  0.747551354141979,
#*# 	  0.33807379337417576,
#*# 	  0.3195994234329331,
#*# 	  0.34555767221955996,
#*# 	  -0.11482925500775606,
#*# 	  -0.2509694322948246,
#*# 	  0.17217232646789393,
#*# 	  0.17662225241759685
#*# model_domain = 3.186006710824167e-07,3.3271277488451836e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 66.230527
#*# model_offset = 0.00000
